/* reset css dan variabel */
:root{
    --primary-color: #1a73e8;
    --primary-dark: #0d47a1;
    --primary-ligh: #e8f0fe;
    --white: #ffffff;
    --light-gray: #dadce0;
    --dark-gray: #5f6368;
    --dark: #202124;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    --transition: all 0.3s ease;
    --border-radius: 8px;
}

.dark-mode{
    --primary-color: #8ab4f8;
    --primary-dark: #aecbfa;
    --primary-light: #3c4043;
    --white: #202124;
    --light-gray: #2d2e31;
    --gray: #5f6368;
    --dark-gray: #e8eaed;
    --dark: #e8eaed;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: var(--dark);
    background-color: var(--white);
    transition: var(--transition);
}

h1, h2, h3, h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 1rem;
    color: var(--dark);
}

h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2.5rem;
    position: realtive;
}

h2::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 4px;
    background-color: var(--primary-color);
    border-radius: px;
}

section{
    padding: 5rem 1.5rem;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
}

.section-title{
    margin-bottom: 3rem;
}

.btn{
    display: inline-block;
    padding: 0.8rem 1.8rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition);
    text-decoration: none;
    text-align: center;
}

.btn:hover{
    background-color: var(--primary-dark);
    transform: translateY(-3px);
    box-shadow: var(--shadow);
}

.btn-outline{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.btn-outline:hover{
    background-color: var(--primary-color);
    color: var(--white);
}

/* header & navbar */
header{
    background-color: var(--white);
    box-shadow: var(--shadow);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: var(--transition);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.logo{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
    color: var(--primary-color);
}


.nav-menu{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-link{
    text-decoration: none;
    color: var(--dark);
    font-weight: 500;
    transition: var(--transition);
    position: relative;
}

.nav-link:hover{
    color: var(--primary-color);
}

.nav-link.active::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    border-radius: 1.5px;
}

.theme-toggle{
    background: none;
    border: none;
    font-size: 1.3rem;
    color: var(--dark);
    cursor: pointer;
    margin-left: 1rem;
    transition: var(--transition);
}

.theme-toggle:hover{
    color: var(--primary-color);
}

.hamburger{
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--dark);
    cursor: pointer;
}

/* hero section */
.hero{
    padding-top: 8rem;
    background-color: var(--light-gray);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.hero-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
}

.hero-text h1{
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.hero-text .program-studi{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    display: block;
}

.hero-text .tagline{
    font-size: 1.2rem;
    color: var(--dark-gray);
    margin-bottom: 2rem;
    font-style: italic;
}

.hero-buttons{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.hero-image{
    text-align: center;
}

.profile-img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    border: 10px solid var(--white);
    box-shadow: var(--shadow);
}